@model IEnumerable<Online_Shopping.ViewModel.CartViewModel>

@{
    ViewBag.Title = "Order Summary";
    decimal subtotal = 0.000M;
    decimal totalPrice = 0.000M;
}

<h2>Order Summary</h2>


<table class="table">
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Quantity)
               
        </th>
        <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
               
</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        subtotal = (Convert.ToDecimal(item.Product.Price) * item.Quantity) + subtotal;
        totalPrice = Convert.ToDecimal(item.Product.Price) * item.Quantity;

        <tr>
    
            <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
    
    
        <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
    
    
    <td>
            @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    
    
    <td>
            @Html.DisplayFor(modelItem => totalPrice)
    </td>
        
         </tr>
        
    }
    <tr>
        <td></td>
        <td></td>
        <td><b>TotalAmount</b></td>
        <td>@subtotal</td>
    </tr>
</table>

@using(Html.BeginForm())
{  
    <input type="submit" class="checkout btn-success nav navbar-right" value="Place Order") />
}


    @Html.ActionLink("Back to cart", "DisplayCart")

<script>
    $(".checkout").click(function () {
        debugger;
        var confirmDelete = confirm("Are you sure to Place Order ?");
        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: '/ManageCart/ProductOrder'
            })
                .done(function () {
                    $(document).ajaxStop(function () {
                        window.location.reload();
                    });
                })
                .fail(function () {
                    alert("Failed to remove from cart !");
                })
        }
    });

</script>