@model IEnumerable<Online_Shopping.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "CompleteOrder";
}

<h2>CompletedOrder</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.Status == "Complete")
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDateTime)
        </td>
        <td>
            <input type="button" class="btn-primary " value="ViewOrderDetail" onclick="location.href='@Url.Action("OrderDetail", new { OrderId = item.OrderId })'" />
         </td>
    </tr>
    }
}

</table>
